body {
    font-family: Arial, sans-serif;
    background: #33394b;
    overflow: visible;
    overflow-x:hidden;
    margin:0;
    padding:0;
}

.app {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width:100px;
    height: 100%;
    background:#25283b;
    padding: 100px;
    border-right:1px solid #000000;
}

.sidebar-item {
    padding: 10px;
    margin: 5px 0;
    background: grey;
    cursor: grab;
    border-radius: 4px;
}

.sidebar-item:active {
    cursor: grabbing;
}

.field {
    position: relative;
    margin-top: 16px;
    width: 80%;
}

.field input{
    width: 100%;
    padding: 16px 12px 8px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ccc;
    color: #fff;
    outline: none
}

.field label{
    position: absolute;
    left: 12px;
    top:16px;
    font-size:16px;
    color:#aaa;
    pointer-events: none;
    transition:0.5s ease all;
}

.field input:focus +label,
.field input:not(:placeholder-shown) + label{
    top: 4px;
    font-size:12px;
    color:#6aa0ff;
}

.field input:focus{
    border-bottom:2px solid #6aa0ff;
}

.form-area{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 20px;
    gap:20px;
    width:100%;
}

.removeButton{
    position: absolute;
    top:10px;
    right:8px;
    background: none;
    border:none;
    font-size: 16px;
    color:#aaa;
    cursor: pointer;
    padding:0;
}

.removeButton:hover{
    color:#ff6a6a;
}

.drop-zone {
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;

    max-width:600px;
    min-height: 100px;
    width: 60%;
    margin:20px;
    padding: 10px;
    transition: all 0.3s ease;
    padding-top: 40px;

    border: 2px solid #aaaaaa;
    background: rgb(59, 66, 85);
    border-radius: 8px;
    
    color: #666666;
    font-size: 18px;
    gap:5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);

    position:relative;
    top:50px;

    height:auto;
}

.drop-zone.highlight {
    border-color: #4CAF50;
    background: #262e27;
}

.placeholderText{
    width: 100%;
    color:#999;
    font-style:italic;
}

#nameText{
    font-size: 36px;
    position:relative;
    color:white;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.removeZoneButton{
    background: none;
    border:none;
    cursor:pointer;
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 18px;
    color:#aaa;
}

.removeZoneButton:hover{
    color:#ff6a6a
}
